---
layout: layout.liquid
title: Home
---

<h1>Items I can't leave the house without</h1>

<ul>
  <li><a href="/phone/">Phone</a>: My iPhone 14 Pro</li>
  <li><a href="/wallet/">Wallet</a>: A MagSafe leather wallet with my ID and credit card</li>
  <li><a href="/keys/">Keys</a>: Bike keys and home key fob</li>
</ul>
